.btn-group{
    padding: 1.2rem;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
button{
    position: absolute;
    width: 130px;
    height: inherit;
    font-size: 1.2em;
    color: #c94646;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid #9367ca;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}
h1{
    color: tomato;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    margin-left: 5px;
}
.body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* background-image: url(./lovesymbol.jpg);
    background-repeat: no-repeat;
    width: max-content;
    height: max-content; */
    
    /* background-color: aqua; */
}
img{
    width: 100px;
    height: 100px;
    justify-content: center;
    margin-left: 43%;
    
}
.yes-btn{
    text-align: center;
    color: #c94646;
    margin-right: 300px;
}
#footer{
    color: blue;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-variant: inherit;
    margin-bottom: 8px;
    padding-top: 8px;
}
#footer:hover{
    color: #c94646;
    width: 70%;
    text-shadow: 0, 0, 50px,50px #c94646;
    text-transform: inherit;
}
